<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
    <link rel="stylesheet" href="/css/login.css">

</head>

<body>

    
<!--Login / Register Form-->
<div class="form">
  
  <div class="thumbnail"><img src="/img/logo.png"/></div>
  <!-- slider width info :3 -->
    <div class="info">
    <h3>Avisos ENP 6</h3>
  </div>
  
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <p>Enterate de lo que pasa alrededor en tu Preparatoria</p>
      </div>

      <div class="item">
        <p>Descubre Antes que nadie eventos y funciones </p>
      </div>
    
      <div class="item">
        <p>No te pierdas nada de lo que la ENP tiene para ti</p>
      </div>

    </div>

    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

  </div>
    
    <% if(errorMessage){ %>
        <div class="alert alert-danger alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <strong>Vaya!</strong> <%=errorMessage%>
        </div>
   <% } %>

  <form method="post" action="/api/register" class="register-form">
    <input type="text" placeholder="Nombre" name="userName" id="userName" required/>
    <input type="text" placeholder="No. de Cuenta o RFC" name="id" id="id" required/>
    <input type="password" placeholder="Contraseña" name="password" id="password" required/>
    <input type="password" placeholder="Confirma contraseña" name="passwordConfirm" id="passwordConfirm" required/>
    <input type="text" placeholder="Correo Electronico" name="email" required/>
    <button class="form_button">Crea tu cuenta</button>
    <p class="message">¿Ya Registrado? <a href="#">Inicia Sesión</a></p>
  </form>



  <form method="post" action="/api/login" class="login-form">
    <input type="text" placeholder="No. de Cuenta o RFC" name="id" id="id" required/>
    <input type="password" placeholder="Contraseña" name="password" id="password" required/>
    <button class="form_button">Inicia Sesión</button>
    <p class="message">¿No tienes cuenta? <a href="#">Crea una</a></p>
  </form>
</div>
<!--End Login / Register Form-->

<footer>
	<div class="center">
		<a href="http://www.prepa6.unam.mx/ENP6/_P6/" title="">Escuela Nacional Preparatoria No.6</a> | 
		<a href="http://unam.mx" title="">Universidad Nacional Autonoma De México</a> | 
		2016 Todos los derechos reservados 
	</div>	
</footer>

<script type="text/javascript">
	
	$('.message a').click(function(){
   		$('form').animate({height: "toggle", opacity: "toggle"}, "slow");
	});
</script>

</body>
</html>
