<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <!-- Add localization for parsley -->
  <script src="..//lib/parsleyjs/dist/i18n/es.js"></script>

</head>

<body>
  <% include ../partials/nav.ejs %>

  <% include ../partials/sideBar.ejs %>
    
  <!-- Main Content Start-->
  <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">	
    <div class="row">
		<div class="col-lg-12">
			<h2>Selecciona un tipo de difusión para continuar</h2>
		</div>
		
		<div class="col-md-10"> <!--/.col-->
			<div class="panel panel-default"> 
				<div class="panel-body tabs"><!-- /.panel tabs -->
					<ul class="nav nav-tabs">
						<li class="active" ><a href="#tab1" data-toggle="tab">Nuevo Mensaje</a></li>
						<li ><a href="#tab2" data-toggle="tab">Nuevo Evento</a></li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane fade in active" id="tab1">
              <div class="panel-heading">Envio de Mensaje</div>

                <div class="panel-body" >
                    <div class = "col-md-8">
                      <% if(errorMessage){ %>
                          <div class="alert bg-danger  alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><svg class="glyph stroked cancel"><use xlink:href="#stroked-cancel"></use></svg>
                            <strong>Vaya!</strong> <%=errorMessage%>
                          </div>
                     <% } %>
                      <!-- here starts the first form -->
                      <form role="form" id="msgForm" method="post" action="/api/sendMessage" > 
                        <div class="form-group">
                            <label for="title" >Titulo del Mensaje</label>
                            <input type="text" class="form-control" placeholder="titulo..." name="title" >
                        </div>
                        <div class="form-group">
                            <label for="url">URL del contenido</label>
                            <input class="form-control" placeholder="http://unam.mx" name="url" >
                        </div>
                        <div class="form-group">
                            <label for="content">Cuerpo del Mensaje</label>
                            <textarea form="msgForm" maxlength="300" class="form-control" rows="3" placeholder="Pon en contenido del mensaje aquí..." name="content" ></textarea>
                        </div>
                        <div class="form-group">
                            <label>Inserta una Imagen (opcional)</label>
                            <input type="file" name="urlImage" accept="image/jpeg, image/png">
                             <p class="help-block">Escoge una imagen alusiva al mensaje</p>
                        </div>
                         <input type="button" id="submitMesssage" class="btn btn-primary" value="Enviar Mensaje" data-toggle="modal" data-target="#confirm-message">
                     </div>
                      <div class="col-md-4">

                        <div class="form-group">
                        <!-- radio button -->
                            <label for="users">Selecciona a quienes enviarás el mensaje</label>
                              <div class="checkbox">
                                  <label>
                                      <input type="checkbox" id="user1" name="users[]" value="admin"  checked>Administradores
                                  </label>
                              </div>
                              <div class="checkbox">
                                  <label>
                                      <input type="checkbox" id="user2" name="users[]" value="teacher" >Profesores 
                                  </label>
                              </div>
                              <div class="checkbox">
                                  <label>
                                      <input type="checkbox" id="user3"  name="users[]" value="parent" >Padres de Familia
                                  </label>
                              </div>
                              <div class="checkbox">
                                  <label>
                                      <input type="checkbox" id="user4" name="users[]" value="student" >Alumnos
                                  </label>
                              </div>
                        <!-- end radio buttons -->
                        </div>
                    </div>
                    </form> <!-- end first tab form -->
                </div>
						</div>
						<div class="tab-pane fade" id="tab2">  <!-- second tab form!!!! -->
							<div class="panel-heading">Envio de Evento</div>
                    <div class="panel-body" >
                         <div class = "col-md-8">
                            <% if(errorEvent){ %>
                                  <div class="alert bg-danger alert-dismissible" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><svg class="glyph stroked cancel"><use xlink:href="#stroked-cancel"></use></svg><strong>Vaya!</strong> <%=errorEvent%>
                                  </div>
                             <% } %>
                              <form role="form" id="eventForm" method="post" action="/api/sendEvent">
                                <div class="form-group">
                                    <label>Titulo del Mensaje</label>
                                    <input class="form-control" placeholder="titulo..." name="title">
                                </div>
                                <div class="form-group">
                                    <label>URL del contenido</label>
                                    <input class="form-control" placeholder="http://unam.mx" name="url">
                                </div>
                                <div class="form-group">
                                    <label>Cuerpo del Mensaje</label>
                                    <textarea form="eventForm" maxlength="300" class="form-control" rows="3" name="content" placeholder="Pon el contenido del evento aquí..."></textarea>
                                </div>
                                  <div class="form-group">
                                    <label>Máximo de asistentes Alumnos</label>
                                    <input class="form-control" type="number" min="1" placeholder="30" name="academicNum">
                                </div>
                                  <div class="form-group">
                                    <label>Máximo de asistentes Academicos</label>
                                    <input class="form-control" type="number"  min="1"  placeholder="40" name="schoolarsNum">
                                </div>
                                <div class="form-group">
                                    <label>Inserta una Imagen</label>
                                    <input type="file">
                                     <p class="help-block">Escoge una imagen alusiva al mensaje</p>
                                </div>
                                  <div class="form-group">
                                    <label>Escoge la fecha y hora del evento</label>
                                    <div class='input-group date'>
                                        <input type='text' class="form-control" id='datetimepicker1' name="eventDate" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                   
                                </div>
                                  
                                <input type="button" id="submit-event"  class="btn btn-primary" value="Enviar Evento" data-toggle="modal" data-target="#confirm-event"> 
                            </div>
                          <div class="col-md-4">

                            <div class="form-group">
                                <label>Enviar a </label>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="admin" name="users[]" checked>Administradores
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="teacher" name="users[]">Profesores
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="parent" name="users[]">Padres de Familia
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="student" name="users[]">Alumnos
                                    </label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div> <!-- /. panel-body -->
            </div> <!-- /#tab2 -->
					</div><!-- /.tab-content -->
				</div> <!-- /.panel tabs -->
			</div><!--/.panel-->
		</div><!--/.col-->
	  </div><!-- /.row -->
  </div>
   
    
    
  <!-- Main Content END-->
  
  <% include ../partials/logOutDialog.ejs %>
  <% include ../partials/confirmDialogEvent.ejs %>
  <% include ../partials/confirmDialogMessage.ejs %>

  <script >
  
  $(window).load(function(){
      var tab = <%=tabToShow%>
      if (tab== 1) {
        $('.nav-tabs a[href="#tab1"]').tab('show');
      } else {
        $('.nav-tabs a[href="#tab2"]').tab('show');
      }

  });

 


  </script>

</body>
</html>
