<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
    <link rel="stylesheet" href="/css/login.css">

</head>

<body>

<!--Here comes the Nav Bar!-->
    <% include ../partials/nav.ejs %>
<!--End of the Nav Bar -->
    
    


<footer>
	<div class="center">
		<a href="http://www.prepa6.unam.mx/ENP6/_P6/" title="">Escuela Nacional Preparatoria No.6</a> | 
		<a href="http://unam.mx" title="">Universidad Nacional Autonoma De México</a> | 
		2016 Todos los derechos reservados 
	</div>	
</footer>

<script type="text/javascript">
	
	$('.message a').click(function(){
   		$('form').animate({height: "toggle", opacity: "toggle"}, "slow");
	});
</script>

</body>
</html>
