<!DOCTYPE html>
<html>
<head>
    
    
    <% include ../partials/header.ejs %>
</head>

<body>
    <% include ../partials/nav.ejs %>

    <% include ../partials/sideBar.ejs %>
    
    
    <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">		
    
        <div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Mensajes Recientes</h1>
			</div>
		</div><!--/.row-->
        
        <!-- First we insert the first messages -->
        <div class="scroll">
            <% include ../partials/messageArray.ejs %>

       </div>        
    </div>
    
    <% include ../partials/logOutDialog.ejs %>
    
</body>
</html>
