<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
</head>

<body>
    <% include ../partials/nav.ejs %>

<div class="container">
  <div class="info">
    <h1>No hemos encontrado lo que buscas :( </h1>
  </div>
</div>

<footer>
	<div class="center">
		<a href="http://www.prepa6.unam.mx/ENP6/_P6/" title="">Escuela Nacional Preparatoria No.6</a> | 
		<a href="http://unam.mx" title="">Universidad Nacional Autonoma De México</a> | 
		2016 Todos los derechos reservados 
	</div>	
</footer>


</body>
</html>
