 <div class="modal fade" id="confirm-event" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Envio de Evento</h4>
        </div>
        <div class="modal-body">
          <p>Estás seguro de querer enviar el Evento?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal"  >No</button>
          <button type="button" id="btn-submit-event" class="btn btn-success" data-dismiss="modal"  >Sí</button>
        </div>
      </div>

    </div>
  </div>