<!-- Here is an iteration of next 10 events with events array object -->
<div class="event_group">
<% for(var i = 0; i< eventArray.length ; i++){ console.log("event "+i+" = "+eventArray[i])%>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <%=eventArray[i].title  %>
                </div>
                <div class="panel-body">
                    <p>
                    Creado el : <%=eventArray[i].createdDate.toLocaleString() %> <br>
                    <br>
                    <%=eventArray[i].content %>

                    <%if(eventArray[i].url){%>
                        <br><br>
                        Más información en: <a href="<%=eventArray[i].url%>" target="_blank"><%=eventArray[i].url%></a> 
                    <%}%>
                    </p>
                </div>
            </div>
        </div>
  </div><!-- /.row -->
<%}%>
<% if(eventArray.length > 9 ) {%>
    <a href="/eventos/<%=nextPage%>">Cargando... </a> 
<%}%>
</div>





