 <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Cerrar Sesión</h4>
        </div>
        <div class="modal-body">
          <p>Estás seguro de querer cerrar la sesión?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal"  >No</button>
          <button type="button" class="btn btn-default" data-dismiss="modal" onclick="logOut()" >Sí</button>
        </div>
      </div>

    </div>
  </div>