<!-- Here is an iteration of next 10 message with message array object -->
<div class="message_group">
<% for(var i = 0; i< messages.length ; i++){ %>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <%=messages[i].title  %>
                </div>
                <div class="panel-body">
                    <p>
                    Creado el : <%=messages[i].createdDate.toLocaleString() %> <br>
                    <br>
                    <%=messages[i].content %>

                    <%if(messages[i].url){%>
                        <br><br>
                        Más información en: <a href="<%=messages[i].url%>" target="_blank"><%=messages[i].url%></a> 
                    <%}%>
                   

                    </p>
                </div>
            </div>
        </div>
  </div><!-- /.row -->
<%}%>
<% if(messages.length >9) {%>
    <div class="next">
        <a href="/mensajes/<%=nextPage%>">Cargando... </a>
    </div>
<%}%>
</div>





