<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Mis Avisos ENP 6</a>
            <% if(user) { %>
        <ul class="user-menu">
                <li class="dropdown pull-right">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg> <%=user.username %> <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#"><svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg> Perfil</a></li>
                        <li><a href="#"><svg class="glyph stroked gear"><use xlink:href="#stroked-gear"></use></svg> Preferencias</a></li>
                        <li><a href="#"  data-toggle="modal" data-target="#myModal"><svg class="glyph stroked cancel"><use xlink:href="#stroked-cancel"></use></svg> Cerrar Sesión</a></li>
                    </ul>
                </li>
            </ul>

        <%}else{%>
        <ul class="user-menu">
            <li class="dropdown pull-right">
                <a href="/auth"><svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg> Inicia Sesión o Registrate </a>

            </li>
        </ul>
        <%}%>
        </div>

    </div><!-- /.container-fluid -->
</nav>

