 <div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">

    <ul class="nav menu">
        <li <% if(sidebar == 1) {%> class="active" <%}%>><a href="/mensajes"><svg class="glyph stroked dashboard-dial"><use xlink:href="#stroked-dashboard-dial"></use></svg> Mensajes</a></li>
        <li<% if(sidebar == 2) {%> class="active" <%}%>><a href="/eventos"><svg class="glyph stroked calendar"><use xlink:href="#stroked-calendar"></use></svg> Eventos</a></li>
        <li<% if(sidebar == 3) {%> class="active" <%}%>><a href="/NuevaDifusion"><svg class="glyph stroked pencil"><use xlink:href="#stroked-pencil"></use></svg> Nueva Difusión</a></li>
        <li<% if(sidebar == 4) {%> class="active" <%}%>><a href="/Administracion"><svg class="glyph stroked app-window"><use xlink:href="#stroked-app-window"></use></svg> Administración</a></li>
    </ul>

</div><!--/.sidebar-->